@font-face {
  font-family: 'gothicBook';
  src: url('./ITC Avant Garde Gothic Book Regular.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'gothicBookMedium';
  src: url('./ITCAvantGardeStd-Md.ttf') format('opentype');
  font-weight: bold;
}
